
#logoImg {
  display: inline;
  float: left;
  width: 9rem;
}

#avatarImg {
  display: inline;
  float: right;
  border: 5px;
  border-radius: 50%;
  object-fit: cover;
  height: 6rem;
  width: 6rem;
}
  
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */